/* Nhúng font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    max-height: 3000px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/geometric-1732847_1280.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.nav-link:hover {
    opacity: 0.6;
}