<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xem lịch thực hành</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <!--FullCalendar-->
    <link rel="stylesheet" href="./plugins/fullcalendar/main.css">
    <script src="./plugins/fullcalendar/main.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <aside id="sidebar" class="js-sidebar">
        <!-- Nội dung thanh sidebar -->
        <div class="h-100">
          <div class="sidebar-logo">
            <a href="./index.html" id=""><img class="rounded-circle mx-1" src="assets/images/logo.png" alt="Logo" width="40px"/>LLTT System</a>
          </div>
          <ul class="sidebar-nav mx-0">
            <li class="sidebar-header">Menu Chính</li>
            <!-- Cac chuc nang cua Quan tri he thong -->
            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse" aria-expanded="false">
                <i class="fa-solid fa-screwdriver-wrench pe-2"></i>Quản trị hệ thống
              </a>
              <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Quản lý tài khoản</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Quản lý phòng học</a>
                </li>
              </ul>
            </li>
            <!-- Chuc nang chung, Giang vien se la nguoi co chuc nang nay -->
            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-target="#options" data-bs-toggle="collapse" aria-expanded="false">
                <i class="fa-solid fa-list pe-2"></i>Chức năng chính
              </a>
              <ul id="options" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Quản lý lịch thực hành</a>
                </li>
                <li class="sidebar-item">
                  <a href="./schedule_registration.html" class="sidebar-link">Đăng ký lịch thực hành</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Thống kê số tiết dạy</a>
                </li>
              </ul>
            </li>
            <!-- Chuc nang xem lich TH, chuc nang nay ca QTHT, Giang vien va Sinh vien deu co the xem duoc -->
            <li class="sidebar-item">
              <a href="./schedule_watching.html" class="sidebar-link">
                <i class="fa-solid fa-calendar-days pe-2"></i>
                Xem lịch thực hành
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom border-black">
          <button class="btn" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse navbar">
            <ul class="navbar-nav">
              <!-- <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="assets/images/avatar.jpg" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Hồ sơ cá nhân</a>
                                <a href="#" class="dropdown-item">Cài đặt</a>
                                <a href="./login-form.html" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </li> -->
              <li class="nav-item dropdown">
                            <a href="" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <p class="login-sign text-black mt-2">Xin chào, Admin <i class="fa-solid fa-chevron-down pe-2"></i></p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Hồ sơ cá nhân</a>
                                <a href="#" class="dropdown-item">Cài đặt</a>
                                <a href="./login-form.html" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </li>
              <!-- <li class="login-sign">
                <a href="./login-form.html" class="text-primary"><i class="fa-solid fa-right-to-bracket pe-2"></i>Đăng nhập</a>
              </li> -->
            </ul>
          </div>
        </nav>

        <!-- Phan noi dung -->
        <main class="content px-3 py-2">
            <div class="card-body">
                <div class="container p-5">
                    <div id="calendar"></div>            
                </div>
            </div>
        </main>
        <a href="#" class="theme-toggle">
          <i class="fa-regular fa-moon" title="Chế độ tối"></i>
          <i class="fa-solid fa-sun" title="Chế độ sáng"></i>
        </a>
        <footer class="footer">
          <div class="container-fluid">
            <div class="row text-muted">
              <div class="col-6 text-start">
                <p class="mb-0">
                  <a href="#" class="text-muted">
                    <strong>LLTT System</strong>
                  </a>
                </p>
              </div>
              <div class="col-6 text-end">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">Liên hệ</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">Về chúng tôi</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.querySelector('#calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'vi', // Sử dụng ngôn ngữ tiếng Việt
                initialView: 'timeGridWeek', // Hiển thị lịch theo tuần
                nowIndicator: true, // Hiển thị thời gian hiện tại
                events: [
                    {
                        title: 'CT29903 - Phát triển hệ thống Web',
                        start: '2024-03-22T13:30:00',
                        end: '2024-03-22T17:00:00',
                        userId: '1'
                    },
                    {
                        title: 'CT29903 - Phát triển hệ thống Web',
                        start: '2024-03-22T13:30:00',
                        end: '2024-03-22T17:00:00',
                        userId: '2'
                    },
                    {
                        title: 'CT29903 - Phát triển hệ thống Web',
                        start: '2024-03-22T13:30:00',
                        end: '2024-03-22T17:00:00',
                        userId: '3'
                    },
                    {
                        title: 'CT17904 - Quản trị hệ thống',
                        start: '2024-03-21T13:30:00',
                        end: '2024-03-21T16:10:00',
                        userId: '4'
                    },
                    // Thêm các sự kiện khác tại đây
                ]
            });

            calendar.render();
        });
    </script>
    <script src="./assets/js/sidebar.js"></script>
    <script src="./assets/js/darklightmode.js"></script>
    <script src="./plugins/fix-schedule.js"></script>
  </body>
</html>
